name: CI

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - main

permissions:
  packages: read
  repository-projects: read
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: npm
          node-version: 20.x
          registry-url: https://registry.npmjs.org

      - run: npm install -g npm@latest

      - run: npm ci

      - run: npm run test
